<manifest package="com.ellyelbarra.game">
<application android:label="اللي برّه">
<activity android:name=".activities.SplashActivity">
<intent-filter>
<action android:name="android.intent.action.MAIN"/>
<category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
</activity>
<activity android:name=".activities.MainActivity"/>
</application>
</manifest>